.square {
    width: 200px; 
    height: 200px;
    border-style: solid;
    border-color: black;
}
 
.grid {
    position: absolute;
    right: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}
 
.mole {
    background-image: url(mole.jpg);
    background-size: cover;
}
 
h1{
    text-align: center;
    
}
 
h2{
    text-align: right;   
    padding: 0px 190;
    margin: 1px;
    margin-bottom: 10px;
}

#registerButton{
background-color: #000000;
border: none;
color: white;
padding: 12px 20px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
}

input[type=text]{
width: 20%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: 2px solid rgb(251, 255, 33);
border-radius: 4px;
}

#play-button, #restart-button, #scores{
    background-color: #000000;
    border: none;
    color: white;
    padding: 12px 37px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.menu{
    margin-left: 100px;
}

#scores-list{
    border: 3px solid rgb(251, 255, 33);
    background-color: orange; 
padding-right: 100px;
padding-left: 28px;
width: 250px;
border-radius: 5px;

}




